footer.footer
  .footer__logo
    //- img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') Acerca de nosotros
    li: a(href='#') Descarga nuestra app
    li: a(href='#') Se un guia
    li: a(href='#') Contactanos